* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  position: relative;
  width: 120vh;
}
.video-container {
  width: 100%;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}
.content {
  color: white;
  text-align: center;
  z-index: 10;
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.switchBtn {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 130px;
  height: 30px;
  border-radius: 8px;
  background-color: white;
  color: rgb(24, 93, 116);
  border: 1px solid rgb(24, 93, 116);
  z-index: 10;
}
.btnContainer {
  position: absolute;
  bottom: 10px;
}
.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  background: rgb(31, 131, 165);
  margin: 0;
  border-radius: 4px;
  top: 0;
  right: 0px;
}
.list {
  position: absolute;
  left: 0;
}
@media only screen and (max-width: 375px) {
  .header {
    width: 100%;
    height: 100%;
  }
  .switchBtn {
    width: 80px;
    height: 20px;
    font-size: 10px;
    padding-bottom: 15px;
  }
}
